<!DOCTYPE html>
<html>
<head>
	<title>Formulario del Cliente</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="resources/css/style_formulario1.css">
	<script src="resources/archivoJS/scriptformulario1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container" id ="prueba">
		<h1>INFORMATION</h1>
		<form>
			<label for="VIN">VIN:</label>
			<input type="text" id="VIN" name="VIN" placeholder="VIN">
		
			<label for="color">COLOR:</label>
			<input type="text" id="color" name="color" placeholder="color" >
		
			<label for="nombre">NAME:</label>
			<input type="text" id="nombre" name="nombre" placeholder="name">
		
			<label for="fechaEmision">ISSUED DATE:</label>
			<input type="date" id="fechaEmision" name="fechaEmision">

			<label for="validity_days">VALIDITY DAYS:</label>
			<select type="text" id="validity_days" name="validity_days" placeholder="validity_days">
				<option value=""></option>
				<option value="30">30 días</option>
				<option value="60">60 días</option>
				<option value="90">90 días</option>
				<option value="180">180 días</option>
				<option value="360">360 días</option>
			</select>
			<label for="marca">MAKE:</label>
			<input type="text" id="marca" name="marca" placeholder="make" >

			<label for="model">MODEL:</label>
			<input type="text" id="model" name="model" placeholder="model" >

			<label for="body_style">BODY STYLE:</label>
			<select type="text" id="body_style" name="body_style" placeholder="body_style">
				<option value=""></option>
				<option value="2D">2D</option>
				<option value="3D">3D</option>
				<option value="4D">4D</option>
				<option value="5D">5D</option>
				<option value="PK">PK</option>
				<option value="TR">TR</option>
				<option value="LL">LL</option>
			</select>
		
			<label for="year">YEAR:</label>
			<select id="year" name="year" required></select required>
		
			<script>
				const currentYear = new Date().getFullYear();
				const selectYear = document.getElementById('year');
				const blankOption = document.createElement('option'); // Nueva opción en blanco
				blankOption.value = ""; // Valor vacío
				blankOption.text = ""; // Texto vacío
				selectYear.add(blankOption); // Agregar la opción en blanco al principio
				for (let year = 1900; year <= currentYear; year++) {
					const option = document.createElement('option');
					option.value = year;
					option.text = year;
					selectYear.add(option);
				}

			</script>
		
			<label for="address">ADDRESS:</label>
			<label for="mailingaddress">Mailing Address:</label>
			<input type="text" id="mailingaddress" name="mailingaddress" placeholder="mailingaddress" >
		
			<label for="ciudad">City:</label>
			<input type="text" id="ciudad" name="ciudad" placeholder="city" >
		
			<label for="estado">State:</label>
			<input type="text" id="estado" name="estado" placeholder="state" >
		
			<label for="coidgozip">Zip Code:</label>
			<input type="text" id="coidgozip" name="coidgozip" placeholder="zip code" >
		
			<input type="button" value="Generate PDF" id="generar-pdf" onclick="generarTag(),calcularFecha(),generate()">
		</form>
	</div>
	<img src="resources/img/Plantillapractica.png" alt="" width="500px" id="img1" style="display:none;">
	<img src="resources/img/Plantillapractica2.png" alt="" width="500px" id="img2" style="display:none;">
</body>


</html>
