<!DOCTYPE html>
<html>
<head>
	<title>Menú con recuadros</title>
	<link rel="stylesheet" type="text/css" href="resources/css/style.css">
</head>
<body>
	<div class="menu">
		<div class="columna">
			<div class="boton" onclick="window.location.href='/formulario1';">PLACAS</div>
			<div class="boton">TITULOS</div>
		</div>
		<div class="columna">
			<div class="boton">INSPECCIONES</div>
			<div class="boton">ASEGURANZA</div>
		</div>
	</div>       
</body>
</html>