<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ejemplo de generación de números de TAG</title>
    <script src="resources/archivoJS/prueba.js"></script>
  </head>
  <body>
    <h1>Ejemplo de generación de números de TAG</h1>
    <button onclick="agregarTag()">Generar TAG</button>
    <ul id="listaTAG"></ul>
  </body>
</html>
